@import url('normalize.css');
@import url(https://fonts.googleapis.com/css?family=Dhurjati);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);

h1 {
    margin-top: 30px;
    padding-top: 60px;
    background: url('../images/logo.png') center top no-repeat;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-transform: uppercase;
    color: #63a14f;
    text-align: center;
}

#stopwatch {
    height: 230px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Dhurjati', sans-serif;
    font-size: 110px;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
    background: linear-gradient(270deg, #22c69c, #5cc606, #7155e3, #07bde6, #d49032);
    background-size: 1000% 1000%;
    box-shadow: 0 3px 8px #444;
    -webkit-box-shadow: 0 3px 8px #444;
    -moz-box-shadow: 0 3px 8px #444;
    
    -webkit-animation: stop-watch-bg 59s ease infinite;
    -moz-animation: stop-watch-bg 59s ease infinite;
    -o-animation: stop-watch-bg 59s ease infinite;
    animation: stop-watch-bg 59s ease infinite;
}

@-webkit-keyframes stop-watch-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes stop-watch-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes stop-watch-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes stop-watch-bg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#stopwatch .days:after {
    content: " ";
}

#stopwatch .hours:after,
#stopwatch .minutes:after {
    content: ":";
}

#stopwatch .seconds:after {
    content: ".";
}

.controls {
    margin-top: 30px;
    text-align: center;
}

.controls button {
    display: inline-block;
    width: 200px;
    height: 50px;
}